/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  color: #424242;
  overflow: hidden;
  overflow-y: scroll;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #6D2038;
}

#fondo {
  background: #6D2038;
  display: flex;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

#fondo .container {
  margin: auto;
}


#typed{
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px #000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #6D2038;
  border: 3px solid;
  border-radius: 50%;
  padding: 13px;
}

footer.page-footer {
  margin: 0;
}

#works {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#sendme {
  padding-top: 5vh;
  padding-bottom: 5vh;
}


#tecnologies i {
  font-size: 10vh;
  color: #FFF;
  text-shadow: 0 0 10px #000;
}

.valign-wrapper {
  height: 100%;
}

.valign-wrapper h3 {
  width: 100%;
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 10px #000;
}

/* Gray Scale */
.card img {
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.card img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.animated.fadeInLeft, .animated.fadeInRight  {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

#iphone img {
  width: 65%;
}

#iphone {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.social.left a {
  font-size: 5vh;
  color: #FFF;
}

footer.custom {
  background-color: #6D2038 !important;

}

button.custom {
  background-color: #6D2038 !important;
}

#servicios {
  margin-bottom: 20px;
}

.icons-wrapper {
  margin-bottom: 30px;
}

.wrapper-image {
  text-align: right;
}
.wrapper-image img {
  width: 70%;
  height: auto;
}

.card-image {
  height: 200px;
  text-align: center;
  padding: 10px;
}

.card-image img {
  width: auto !important;
  height: 100%;
  margin: auto;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {

    border-bottom: 1px solid #6D2038;

    -webkit-box-shadow: 0 1px 0 0 #6D2038;

    box-shadow: 0 1px 0 0 #6D2038;

    }

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #6D2038;
}
